.logo{
    width: 50px;
    height: 50px;
    /* border-radius: 80%; */
    margin-left: 50px;
}
body{
    background-color: rgba(160, 145, 63, 0.418);
  }
  .page{
    width: 95%;
    margin: 0 auto;
}

 .block{
    width: 50%;
    height: 1150px;
    float: right;
    background-color: rgba(160, 145, 63, 0.418);
    margin:20px 2px 5px 2px
    
    
 }
 .bimg{
    width: 70% ;
    height:50% ; 
    margin: 60px 2px 5px 130px;
}
.nas{
    margin: 10px 0 0 0;
    font-size: large;
}
.block2{
    width: 50%;
    height: 1170px;
    float: none;
    background-color: rgba(160, 145, 63, 0.418);
    margin:50px 2px 0 2px
    
    
 }
 .bimg2{
    width: 70% ;
    height:50% ; 
    margin: 80px 2px 5px 130px;
}
.nas2{
    margin: 10px 0 0 0;
    font-size: large;
}
.block3{
    width: 50%;
    height: 1150px;
    float: none;
    background-color: rgba(160, 145, 63, 0.418);
    margin:25px 2px 5px 2px
    
    
 }
 .bimg3{
    width: 70% ;
    height:50% ; 
    margin: 60px 2px 5px 130px;
}
.nas3{
    margin: 10px 0 0 0;
    font-size: large;
}
.block4{
    width: 50%;
    height: 1150px;
    float: none;
    background-color: rgba(160, 145, 63, 0.418);
    margin:25px 2px 5px 2px
    
    
 }
 .bimg4{
    width: 70% ;
    height:50% ; 
    margin: 60px 2px 5px 130px;
}
.nas4{
    margin: 10px 0 0 0;
    font-size: large;
}
.block5{
    width: 50%;
    height: 1150px;
    float: none;
    background-color: rgba(160, 145, 63, 0.418);
    margin:25px 2px 5px 2px
    
    
 }
 .bimg5{
    width: 70% ;
    height:50% ; 
    margin: 60px 2px 5px 130px;
}
.nas5{
    margin: 10px 0 0 0;
    font-size: large;
}
.block6{
    width: 50%;
    height: 1150px;
    float: none;
    background-color: rgba(160, 145, 63, 0.418);
    margin:25px 2px 5px 2px
    
    
 }
 .bimg6{
    width: 70% ;
    height:50% ; 
    margin: 60px 2px 5px 130px;
}
.nas6{
    margin: 10px 0 0 0;
    font-size: large;
}
.img1{
    width: 110px;
height: 110px;
margin: 100px 2px 5px 13px;
}
.img2{
    width: 20%;
    height: 170px;
margin: 60px 2px 5px 50px;
    
}
.img3{
    width: 20%;
    height: 170px;
margin: 60px 2px 5px 50px;
    
}
.img4{
    width: 20%;
    height: 170px;
margin: 60px 2px 5px 50px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color:rgba(160, 145, 63, 0.418) ;
}
.f1{
    width: 15%;
    height: 100%;
    float: right;
    margin-top: 12px;
}
.f2{
    width: 15%;
    height: 100%;
    float: right;
    margin: 12px 80px;
}
.f3{
    width: 15%;
    height: 100%;
    float: left;
    margin-top: 12px;
}
.f4{
    width: 15%;
    height: 100%;
    float: right;
    margin-top: 12px;
}
.f5{
    width: 15%;
    height: 100%;
    float: right;
    margin-top: 12px;
}
.f6{
    width: 15%;
    height: 100%;
    float: right;
    margin-top: 12px;
} 
.imgk1{
    width: 30%;
    height: 30%;
    /* margin: 0 3px 3px 3px; */
margin: 20px 2px 5px 13px;

}
.imgk2{
    width: 30%;
    height: 30%;
    /* margin: 0 3px 3px 3px; */
margin: 20px 2px 5px 13px;

}
.imgk3{
    width: 200px;
    height: 200px;
    /* margin: 0 3px 3px 3px; */
margin: 20px 2px 5px 13px;

}
.imgk4{
    width: 150px;
    height: 150px;
    /* margin: 0 3px 3px 3px; */
margin: 20px 2px 5px 50px;

}